<h1>Адмін-панель</h1>

<p>Ласкаво просимо, <%= current_user.name %>!</p>

<h2>Адмін-інструменти</h2>
<ul>
  <li><%= link_to "Переглянути зворотний зв'язок", admin_feedbacks_path %></li>
  <li><%= link_to 'Замовлення', admin_orders_path %></li>
</ul>

<h2>Список користувачів</h2>
<table>
  <thead>
  <tr>
    <th>Ім'я</th>
    <th>Email</th>
    <th>Роль</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.role %></td>
    </tr>
  <% end %>
  </tbody>
</table>
