<h1>Оформлення замовлення</h1>

<%= form_with model: @order, url: checkout_path, local: true do |f| %>
  <fieldset>
    <legend>Доставка</legend>
    <div>
      <label>
        <%= f.radio_button :delivery_option, 'Нова Пошта', checked: true %>
        Нова Пошта
      </label>
    </div>
    <div>
      <%= f.label :branch, 'Відділення Нової Пошти:' %>
      <%= f.select :branch, options_for_select(@branches), required: true %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Дані клієнта</legend>
    <div>
      <%= f.label :name, "Ім'я:" %>
      <%= f.text_field :name, required: true %>
    </div>
    <div>
      <%= f.label :surname, "Прізвище:" %>
      <%= f.text_field :surname, required: true %>
    </div>
    <div>
      <%= f.label :phone, "Телефон:" %>
      <%= f.telephone_field :phone, required: true %>
    </div>
    <div>
      <%= f.label :email, 'E-mail:' %>
      <%= f.email_field :email, value: @user_email, required: false %> <!-- Пусте, якщо користувач неавторизований -->
    </div>
  </fieldset>

  <div>
    <%= f.submit 'Оформити замовлення', class: 'btn btn-primary' %>
  </div>
<% end %>
