<h1>Оформлення замовлення</h1>

<div class="cart-summary">
  <h2>Ваше замовлення:</h2>
  <ul>
    <% @products.each do |product| %>
      <li>
        <%= image_tag product.image_url, width: 50 %>
        <%= product.name %> - <%= @cart[product.id.to_s] %> шт.
        <span><%= number_to_currency(product.price * @cart[product.id.to_s].to_i, unit: "₴") %></span>
      </li>
    <% end %>
  </ul>
  <p><strong>Загальна сума: <%= number_to_currency(@total_price, unit: "₴") %></strong></p>
</div>

<%= form_with model: @order, url: checkout_path, local: true do |f| %>
  <fieldset>
    <legend>Дані клієнта</legend>
    <div>
      <%= f.label :name, "Ім'я:" %>
      <%= f.text_field :name, required: true %>
    </div>
    <div>
      <%= f.label :surname, "Прізвище:" %>
      <%= f.text_field :surname, required: true %>
    </div>
    <div>
      <%= f.label :phone, "Телефон" %>
      <%= f.text_field :phone,
                       required: true,
                       maxlength: 10,
                       pattern: "\\d{10}",
                       title: "Номер телефону повинен містити рівно 10 цифр",
                       class: "phone-input" %>
    </div>
    <div>
      <%= f.label :email, 'E-mail(необовязково):' %>
      <%= f.email_field :email, value: @user_email, required: false %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Доставка</legend>
    <div>
      <%= f.label :delivery_method, "Варіант доставки" %>
      <%= f.select :delivery_method, ["Нова Пошта", "Укрпошта"], {}, id: "delivery-method-select" %>
    </div>
    <div>
      <%= f.label :city, "Місто" %>
      <%= f.text_field :city, required: true, id: "city-field" %>
    </div>
    <div>
      <%= f.label :branch_number, "Номер відділення" %>
      <%= f.text_field :branch_number, required: true, id: "branch-number-field", title: "Введіть номер відділення", pattern: "\\d*", maxlength: 5 %>

    </div>
  </fieldset>

  <div>
    <%= f.submit "Перейти до оплати", class: "btn btn-primary" %>
  </div>
<% end %>
