<!DOCTYPE html>
<html>
<head>
  <title>Магазин Сухофруктів</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "cart", "data-turbo-track": "reload" %>
</head>

<body>
<header>
  <div class="header-container">
    <h1><%= link_to "Магазин Сухофруктів", root_path %></h1>

    <nav class="header-navigation">
      <% if current_user %>
        <span>Вітаємо, <%= current_user.name %>!</span>
        <% unless current_page?(root_path) %>
          <%= link_to "На головну", root_path, class: "button" %>
        <% end %>
        <%= link_to "Кошик", cart_path, class: "button" %>
        <%= link_to "Зв’язок", feedback_path, class: "button" %>
        <%= button_to "Вийти", logout_path, method: :delete, class: "button" %>
      <% else %>
        <%= link_to "Увійти", new_session_path, class: "button" %>
        <%= link_to "Зареєструватися", register_path, class: "button" %>
        <%= link_to "Кошик", cart_path, class: "button" %>
      <% end %>
    </nav>
  </div>
</header>

<main>
  <%= yield %>
</main>

<footer class="footer">
  <div class="footer-container">
    <p>&copy; <%= Time.now.year %> Магазин Сухофруктів. Всі права захищені.</p>
    <ul class="footer-links">
      <li><%= link_to "Про нас", about_path %></li>
      <li><%= link_to "Контакти", contact_path %></li>
      <li><%= link_to "Політика конфіденційності", privacy_path %></li>
    </ul>
  </div>
</footer>
</body>
</html>
